services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      # Mount the current directory to /app for hot reloading
      - .:/app
      # Exclude node_modules from being overwritten by the host
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true # Helps file watching work correctly on some OS/Docker combinations
      - NODE_ENV=development
